.navegacion{
    height: 50px;
    width: auto;
    background: rgb(112, 110, 110);
    display: flex;
    flex-direction: row;

}
.rigth{
    float: right;
    height: 180px;
    width: 1100px;
    
}
body{
    background: rgb(218, 205, 218);
}
.padre{
    height: 300px;
    width: 1300px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.hijo{
    text-align: center;
    height: 300px;
    width: 300px;
}
.seccion1{
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center ;

}
.padre2{
    height: 600px;
    width: auto;
    background: blue;

    display: flex;
    flex-direction: row;
}
.hijo2{
    text-align: center;
    height: 280px;
    width: 300px;
    margin: 40px;

}
.padre3{
    height: 250px;
    width: 1300px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.padre4{
    height: 450px;
    width: auto;
    background: rgb(120, 120, 143);

    display: flex;
    flex-direction: row;
}
.hijo3{
    text-align: center center;
    height: 80px;
    width: 50px;
    background: rgb(57, 57, 80);
    padding: 5px;
}
.rigth2{
    float: right;
    height: 10px;
    width: 200px;
    
}
article{
    text-align: left;
}
.rig{
    
    height: 200px;
    width: auto;
    background: rgb(51, 49, 49);
    display: flex;
    flex-direction: row;
    
}